.sidebar {
  width: 190;
  background: #fafafa;
  height: 100vh;
  padding: 10px;
  direction: rtl;
  border-left: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  flex-direction: row-reverse;
}

.sidebar-header .logo-icon {
  font-size: 28px;
  color: #000;
}

.sidebar-header h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.sidebar-header p {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  padding: 10px 15px;
  border-radius: 8px;
  flex-direction: row-reverse;
}

.nav-link:hover {
  background: #f4f4f4;
}

.nav-link.active {
  background: #000;
  color: #fff;
}

.nav-link.active svg {
  color: #fff;
}

.nav-link svg {
  font-size: 16px;
  color: #000;
}

/* Toggle btn*/
.toggle-btn {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1100;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

/* Mobile and tablet */
@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 1000;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .toggle-btn {
    display: block;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .sidebar {
    position: sticky;
    top: 0;
    transform: none !important;
  }

  .overlay {
    display: none !important;
  }
}
