.hanger-attendance-container{
background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.page-header {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-bottom: 1.5rem;
}

.page-header h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
.clock-icon {
  
  font-size: 1.2rem;
  color: #555;
  cursor: pointer;
}

.attendance-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;;
}